{% extends 'base.html.twig' %}

{% block title %}Liste d'idées!{% endblock %}

{% block body %}

<div class="container">
    <h1>Liste des idées</h1>

    <ul>
        {% if ideas is empty %}
            Il n'y a pas d'idées pour le moment.
        {% endif %}
        {% for idea in ideas %}
            <li><a href="{{ path('idea_update', { 'slug': idea.slug }) }}">{{ idea.title|e }} par {{ idea.user.username }}</a></li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
