
{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h1>{{ "ideas.create"|trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="save" />
    {{ form_end(form) }}

</div>
{% endblock %}
